html {
  font-family: system-ui, "Georgia", serif;
  background-color: #f3f3f3;
  color: #202020;

  @media (prefers-color-scheme: dark) {
    background-color: #202020;
    color: #f3f3f3;
  }
}

pre, code, input, select, textarea {
  font-family: ui-monospace, monospace;
}

body {
  @media screen and (min-width: 37rem) {
    margin-inline: auto;
    width: 37rem;
  }
}

header {
  margin-bottom: 2rem;
}

menu {
  padding-inline-start: 1rem;
  text-indent: -1rem;
  list-style-type: none;
}

menu.inline > li {
  margin-inline-end: 0.25rem;
  display: inline;
}

hr {
  margin-block: 2rem;
}

hr, header, h1, h2, h3, h4, h5, h6 {
  border-bottom: 2px solid #efefef;
  @media (prefers-color-scheme: dark) {
    border-bottom-color: #242424;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0 1rem;
  font-weight: inherit;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  padding-inline: 1rem;
}

a {
  color: #0060e0;
  @media (prefers-color-scheme: dark) {
    color: #10a0a0;
  }
}

button {
  color: white;
  margin-inline-end: 0.5rem;
  border: none;
  background: #0070f0;
  @media (prefers-color-scheme: dark) {
    background: #007070;
  }
}

summary, label, button, .pointer {
  cursor: pointer;
}

label {
  display: block;
}

input, select, textarea, button {
  font-size: 16px;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

textarea {
  height: 79svh;
  resize: none;
}

input, select, textarea {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  color: inherit;

  margin-block: 0.5rem 1rem;
  border-width: 1px;
  border-color: #d0d0d0;
  @media (prefers-color-scheme: dark) {
    border-color: #404040;
  }
}

summary::marker {
  content: "ℹ️";
}

.info, .warning, .error {
  padding-inline-start: 0.5rem;
  border-inline-start: 0.25rem solid;
}

.info {
  border-inline-start-color: #2070f0;
}

.warning {
  border-inline-start-color: #f0b000;
}

.error {
  border-inline-start-color: #e04040;
}
