---
- become: true
  community.general.pacman:
    update_cache: true

- become: true
  community.general.pacman:
    name:
    - dnsutils
    - elixir
    - erlang-public_key
    - erlang-ssl
    - fzf
    - libheif
    - libvips
    - nginx
    - nmap
    - ripgrep
    - tmux
    state: present

- become: true
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    force: false
  notify: restart nginx

- become: true
  ansible.builtin.service:
    name: nginx
    enabled: true
