---
- become: true
  community.general.pacman:
    update_cache: true

- become: true
  community.general.pacman:
    name:
    - deno
    - dnsutils
    - ffmpeg
    - fzf
    - imagemagick
    - iproute2
    - libheif
    - nginx
    - nmap
    - pipewire-jack
    - rav1e
    - ripgrep
    - sqlite
    - svt-av1
    - tmux
    - which
    state: present

- become: true
  template:
    src: sshd.conf.j2
    dest: /etc/ssh/sshd_config.d/10-rm.conf
  notify: reload sshd

- become: true
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    force: false
  notify: restart nginx

- become: true
  ansible.builtin.service:
    name: nginx
    enabled: true
