---
- become: true
  community.general.pacman:
    update_cache: true

- become: true
  community.general.pacman:
    name:
    - dnsutils
    - elixir
    - erlang-public_key
    - erlang-ssl
    - libheif
    - libvips
    - nmap
    - ripgrep
    - tmux
    state: present
