worker_processes auto;

include modules.d/*.conf;

events {
	worker_connections  1024;
}


http {
	server {
		listen 80;
		server_name {{ domain }} www.{{ domain }};
		if ($host != {{ domain }}) {
			return 301 https://{{ domain }}$request_uri;
		}
		location / {
			proxy_pass http://localhost:8080;
		}
	}

	# sudo certbot --nginx
	# ^^ this will mess this file up.
}
