@import "tailwindcss";

@theme {
  --default-font-family: system-ui, "Georgia", serif;
  --default-mono-font-family: ui-monospace, monospace;
}

html {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-200;
}

main {
  @apply w-lg mx-auto p-3;
}

nav {
  @apply mt-8 mb-4;
}

nav > menu > li {
  @apply inline mr-1;
}

h1 {
  @apply text-9xl mb-8;
}

h2 {
  @apply text-5xl my-8;
}

p {
  @apply my-4;
}

a {
  @apply text-blue-500 underline;
}

summary, label, button, .pointer {
  @apply cursor-pointer;
}

summary::marker {
  content: "ℹ️";
}

label {
  @apply block cursor-pointer;
}

input, textarea, button, [contenteditable] {
  @apply p-2 rounded;
}

input, textarea, [contenteditable] {
  @apply border border-gray-300 dark:border-gray-700 w-full mt-2 mb-4 font-mono;
}

button {
  @apply bg-blue-500 text-white mr-2;
}

button:hover {
  @apply bg-blue-600;
}

.info {
  @apply border-l-6 border-blue-500 pl-2;
}

.warning {
  @apply border-l-6 border-yellow-500 pl-2;
}
