@import "tailwindcss";

@theme {
  --default-font-family: system-ui, "Georgia", serif;
}

body {
  @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-200;
}

main {
  @apply w-lg mx-auto p-3;
}

h1 {
  @apply text-9xl mb-8;
}

h2 {
  @apply text-5xl my-8;
}

p {
  @apply my-4;
}

a {
  @apply text-blue-500 underline;
}

label {
  @apply cursor-pointer;
}

label, input {
  @apply bg-gray-200 dark:bg-gray-800;
}

label, input, button {
  @apply py-1 px-2 mx-1 rounded;
}

button {
  @apply bg-blue-500 text-white cursor-pointer;
}

button:hover {
  @apply bg-blue-600;
}

.info {
  @apply rounded bg-blue-500 text-white p-3;
}
